{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="col-10 card colorcard mt-3 pt-2 pb-4 signin">
        <div class="row">
            <div class="offset-md-2">
                <h3>{% trans "Sign In" %}</h3>

                <p>{% blocktrans %}Welcome back to Project Game.</p>
                <p> To start a new thread or reply to an existing one,
                    please log in.</p>
                <p>If you have not created an account yet, then please <a class="link" href="{{ signup_url }}"
                        aria-label="register page">register</a>
                    first.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2">
                <form method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-dark right" type="submit" aria-label="Sign in">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}