{% extends "base.html" %}
{% block content%}

<!-- Start of index.html content -->
<div class="container">
    <div class="card colorcard mt-3 pt-2 pb-4">
        <div class="block mt-3">
            <div class="block-body">
                {% for thread in thread_list %}
                <div>
                    <div class="col-8">
                        <a href="{% url 'thread_detail' thread.slug %}" class="thread-link">
                            <h2>{{ thread.title }}</h2>
                        </a>
                        <div class="poster">
                            <p class="text-end">Posted By: <strong>{{ thread.poster }}</strong> on
                                <strong>{{ thread.posted_on}}</strong></p>
                        </div>
                        <hr>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

<!-- index.html content ends here -->

{% endblock%}