{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
  <div class="row my-4">
    <div class="col-10">
      {% for new in new %}
      <!-- Title goes between these h2 tags -->
      <h2>{{ new.title }}</h2>
      <!-- Content goes directly underneath this -->
      {{ new.content | safe }}
      
      {% endfor %}
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="card col-10 py-2 colorcard">
      <div>
        <h2 class="text-center">New Thread</h2>
        <!-- Form to report users -->
        <form method="post">
          {{ thread_form | crispy }}
          {% csrf_token %}
          <button class="btn btn-dark" type="submit">Post Thread</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}