{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <!-- Thread title-->
        <h1 class="thread-title" id="title">{{ thread.title }}</h1>
      </div>
      <!-- Thread's poster and date of posting-->
      <div class="text-start">
        <h2>{{ thread.poster }}</h2>
        <p>{{ thread.posted_on }}</p>
        <span>Responses: {{ response_count }}</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col card colorcard mt-3">
      <div class="card-body" >
        <div>
        <!-- Thread body -->
        <p class="card-text" id="thread{{ thread.id }}">
          {{ thread.body | safe }}
        </p>
        <hr>
        {% if user.is_authenticated and thread.poster == user %}
            <button class="threadButton btn btn-dark" thread_id="{{ thread.id }}">Edit</button>
            <button class="btn btn-delete btn-dark" thread_id="{{ thread.id }}">Delete</button>
        {% endif %}
      </div>
      <!-- Responses to thread -->
        <div>
          {% for response in responses %}
          <div>
            <p><strong>
                {{ response.poster }} {{response.posted_on}}
              </strong>
            </p>
            <div id="response{{ response.id }}">
              {{ response.content | linebreaks }}
            </div>
            {% if user.is_authenticated and response.poster == user %}
            <button class="btn btn-edit btn-dark" response_id="{{ response.id }}">Edit</button>
            <button class="btn btn-delete btn-dark" response_id="{{ response.id }}">Delete</button>
            {% endif %}
            <hr>
          </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- Editing threads -->
<div class="container">
  <div class="row">
    <div class="col-12 card colorcard mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Update thread</h3>
        <form id="ThreadForm" method="post" style="margin-top: 1.3em;">
          {{ thread_form | crispy }}
          {% csrf_token %}
          <button id="submitThreadButton" type="submit" class="btn btn-dark">Submit</button>
        </form>
        {% else %}
        <p>Log in to edit thread</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Posting new responses -->
<div class="container">
  <div class="row">
    <div class="col-12 card colorcard mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Post a response:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="responseForm" method="post" style="margin-top: 1.3em;">
          {{ response_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-submit btn-dark">Submit</button>
        </form>
        {% else %}
        <p>Log in to post a response</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<!-- Modal to confirm deletion of response -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Response</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">No</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/responses.js' %}"></script>
<script src="{% static 'js/thread.js' %}"></script>
{% endblock %}