{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <!-- Thread title-->
        <h1 class="thread-title">{{ thread.title }}</h1>
        <!-- Thread's poster and date of posting-->
        <p class="thread-subtitle">{{ thread.poster }} | {{ thread.posted_on }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col card mb-4  mt-3 left  top">
      <div class="card-body">
        <!-- Thread body. -->
        <p class="card-text">
          {{ thread.body | safe }}
        </p>
      </div>
    </div>
  </div>
  <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ response_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Responses -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Responses:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for response in responses %}
        <div class="p-2 comments">
          <p class="font-weight-bold">
            {{ response.poster }}
            <span class="font-weight-normal">
              {{ response.posted_on }}
            </span> wrote:
          </p>
          <div id="response{{ response.id }}">
            {{ response.body | linebreaks }}
          </div>
          {% if user.is_authenticated and response.poster == user %}
          <button class="btn btn-edit" response_id="{{ response.id }}">Edit</button>
          <button class="btn btn-delete" response_id="{{ response.id }}">Delete</button>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Respond to the post:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="responseForm" method="post" style="margin-top: 1.3em;">
          {{ response_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to post a response</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete Response?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your Response?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/responses.js' %}"></script>
{% endblock %}