{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Thread title-->
                <h1 class="thread-title">{{ thread.title }}</h1>
                <!-- Thread's poster and date of posting-->
                <p class="thread-subtitle">{{ thread.poster }} | {{ thread.posted_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Thread body. -->
                <p class="card-text">
                    {{ thread.body | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}