/*General style rules*/
.colorcard{
    background-color: rgb(179, 192, 204);
}

.messagebox{
    background-color: rgb(179, 192, 204);
    border: solid;
    border-color: black;
    border-radius: 10px;
}

/*Navbar style rules*/
.sitename{
    font-family: 'Pixelify Sans';
    font-size: 150%;
    color: rgb(255, 255, 255);
}

.nav-link{
    font-family: 'Nanum Gothic';
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.navbar-button{
    margin-left: 20px;
}

.nav-item-active{
    padding-right: 40px;
}

.navbar-nav {
    margin: 0;
}

/*Body style rules*/
body{
    background-color: rgb(124, 195, 249);
}

.block-body{
    margin-left: 2.5%;
}

main{
    margin-bottom: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 50vh;
}

.signInNotice{
    padding-left: 2.5vw;
    font-size: 125%;
}

/*Footer style rules*/

.footertext{
    color: rgb(255, 255, 255);
    font-family: 'Nanum Gothic';
}

/*Index.html*/
.thread-link{
    color: black;
    text-decoration: none;
    font-family: 'Rubik';
}

.poster{
    font-family: 'Rubik';
}

.thread-link :hover{
    color: grey;
}

.page-link{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.edit-response, .delete-response{
    margin-top: 10px;
}


/*Media query for phones*/

@media screen and (max-width: 425px){

    .navlist{
        padding-left: 15px;
    }

    main{
        max-width: 90vw;
        padding-left: 5vw;
    }

    .signin, .signout{
        padding-left: 20px;
        width: 80vw;
    }

    .sign-up{
        padding-left: 10px;
        padding-right: 10px;
        width: 75vw;
    }

}


/*Media queries for tablets*/
@media screen and (max-width: 768px){

    .navlist{
        padding-left: 15px;
    }

    main{
        max-width: 90vw;
        padding-left: 5vw;
    }

    .signin, .signout{
        padding-left: 20px;
        width: 75vw;
    }

    .sign-up{
        padding-left: 10px;
        padding-right: 10px;
        width: 75vw;
    }
}

@media screen and (min-width: 768px) {
    .navbar-expand-lg {
       padding: 15px;
    }
}

/*Media query for larger screens*/
@media screen and (min-width: 1440px){

    main{
        min-height: 65vh;
    }

}

